.container-interval {
  width: 175px;
  padding: 41px 0 0 29px;
  padding-top: 41px;
  display: flex;
  flex-direction: column;
  background-image: url(../images/interval-background.png);
  background-position: -5px -35px;
  background-size: 185px 553px;
  background-repeat: no-repeat;
  overflow: hidden;
}
