.stopwatch__button-start {
  background-color: green;
  /* background-image: url(../images/start.gif); */
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}
