.stopwatch__close-icon {
  width: 85px;
  height: 35px;
  position: absolute;
  top: -1px;
  left: -1px;
  color: #f6d660;
  border-radius: 20px 0 20px 0;
  border: 1px solid rgba(168,151,122);
  background-color:transparent;
  cursor: pointer;
  transition: .3s;
}

.stopwatch__close-icon:hover {
  border-bottom-color: rgba(0, 255, 255, 0.7);
  border-right-color: rgba(0, 255, 255, 0.7);
  box-shadow: inset -2px -2px 7px 0px rgba(0, 255, 255, 0.7),
    2px 2px 7px 0px rgba(0, 255, 255, 0.7);
  color: red;
}
